[submodule "vim/pack/mrroman/vim-vinegar"]
	path = vim/pack/mrroman/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/mrroman/start/vim-vinegar"]
	path = vim/pack/mrroman/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
